<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Post!</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
 </div>
<div class="modal-body">
  <%= form_with( url: file_system_create_path(file_system, FileSystem.new), local: true) do |f| %>
    <div class="modal-body">

      <div class="container" id=myGroup>
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Criar Pasta
          </a>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              Criar Arquivo
          </button>
        </p>

        <div class="collapse" id="collapseExample" data-parent="#myGroup">
          <div class="card card-body">
            <div class="form-group">
              <%= f.label :name, 'Nome' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <%= f.submit 'Salvar', name: 'it_is_folder', class: 'btn btn-primary' %>
          </div>
        </div>

        <div class="collapse" id="collapseExample2" data-parent="#myGroup">
          <div class="card card-body">
            <div class="form-group">
              <%= f.label :attached_file, 'Arquivo' %>
              <%= f.file_field :attached_file, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <%= f.submit 'Salvar', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
<div class="modal-footer">
</div>